@import 'antd/dist/antd.css';

body {
  font-family: Poppins, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
  text-decoration: none;
}

canvas {
  z-index: 500;
  &:focus {
    outline: none;
  }
}

.custom-group {
    display: none;
}